In [2]:
# User based Recommender Systems
# Item based REcommender Systems

import pandas as pd
import numpy as np

In [3]:
movie = pd.read_csv('movie.csv')

movie.columns # ['movieId', 'title', 'genres']

Index(['movieId', 'title', 'genres'], dtype='object')

In [4]:
movie = movie.iloc[:,:-1]

In [5]:
rating = pd.read_csv('rating.csv')

In [6]:
rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [7]:
rating = rating.iloc[:,:-1]

- movieId 기준으로 dataframe 을 합쳐준다.

In [8]:
data = pd.merge(movie, rating)

- item based recommender system
- dataframe is too much. Therefore, use 1,000,000 sample in data

In [29]:
data.shape # 20,000,000 sample in data

(20000263, 4)

In [30]:
data = data.iloc[:1000000, :]
data

        movieId                           title  userId  rating
0             1                Toy Story (1995)       3     4.0
1             1                Toy Story (1995)       6     5.0
2             1                Toy Story (1995)       8     4.0
3             1                Toy Story (1995)      10     4.0
4             1                Toy Story (1995)      11     4.5
...         ...                             ...     ...     ...
999995      147  Basketball Diaries, The (1995)   93300     4.0
999996      147  Basketball Diaries, The (1995)   93365     3.0
999997      147  Basketball Diaries, The (1995)   93411     2.5
999998      147  Basketball Diaries, The (1995)   93476     3.0
999999      147  Basketball Diaries, The (1995)   93478     5.0

[1000000 rows x 4 columns]

In [32]:
data.shape

(1000000, 4)

- rows are users, columns are movies and values are ratings
- new users에 대해 특정 영화와 유사한 영화를 추천해주려고 한다.

In [139]:
pivot_table = data.pivot_table(index = ['userId'], columns = ['title'], values = 'rating')
pivot_table

title,Ace Ventura: When Nature Calls (1995),Across the Sea of Time (1995),"Amazing Panda Adventure, The (1995)","American President, The (1995)",Angela (1995),Angels and Insects (1995),Anne Frank Remembered (1995),Antonia's Line (Antonia) (1995),Assassins (1995),Babe (1995),...,Unforgettable (1996),Up Close and Personal (1996),"Usual Suspects, The (1995)",Vampire in Brooklyn (1995),Waiting to Exhale (1995),When Night Is Falling (1995),"White Balloon, The (Badkonake sefid) (1995)",White Squall (1996),Wings of Courage (1995),"Young Poisoner's Handbook, The (1995)"
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138490,NaN,NaN,NaN,NaN,NaN,4.0,NaN,3.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138493,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
corr = pivot_table.corr()

In [144]:
target = corr.stack().sort_values(ascending= False)

In [153]:
target

title                                                           title
Young Poisoner's Handbook, The (1995)                           Young Poisoner's Handbook, The (1995)      1.0
Nixon (1995)                                                    Nixon (1995)                               1.0
Nico Icon (1995)                                                Guardian Angel (1994)                      1.0
Nick of Time (1995)                                             Sonic Outlaws (1995)                       1.0
                                                                Nick of Time (1995)                        1.0
                                                                                                          ...
Man of the Year (1995)                                          Headless Body in Topless Bar (1995)       -1.0
Shopping (1994)                                                 From the Journals of Jean Seberg (1995)   -1.0
Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)  Catwalk (1996)                            -1.0
Star Maker, The (Uomo delle stelle, L') (1995)                  Headless Body in Topless Bar (1995)       -1.0
Angela (1995)                                                   Neon Bible, The (1995)                    -1.0
Length: 21060, dtype: float64

In [157]:
target.loc[target != 1].index[0], target.loc[target != 1][0]

(('Muppet Treasure Island (1996)', 'Headless Body in Topless Bar (1995)'),
 0.9971764649527379)

In [165]:
target.loc[target != 1]

title                                                           title
Muppet Treasure Island (1996)                                   Headless Body in Topless Bar (1995)                               0.997176
Headless Body in Topless Bar (1995)                             Muppet Treasure Island (1996)                                     0.997176
In the Bleak Midwinter (1995)                                   Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)    0.985901
Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)  In the Bleak Midwinter (1995)                                     0.985901
                                                                Shadows (Cienie) (1988)                                           0.984111
                                                                                                                                    ...
Man of the Year (1995)                                          Headless Body in Topless Bar (1995)                              -1.000000
Shopping (1994)                                                 From the Journals of Jean Seberg (1995)                          -1.000000
Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)  Catwalk (1996)                                                   -1.000000
Star Maker, The (Uomo delle stelle, L') (1995)                  Headless Body in Topless Bar (1995)                              -1.000000
Angela (1995)                                                   Neon Bible, The (1995)                                           -1.000000
Length: 20746, dtype: float64

In [161]:
movie1, movie2= [], []
for i, movie in enumerate(target.loc[target != 1].index):
    movie1.append(movie[0])
    movie2.append(movie[1])

In [163]:
movie1[:5]

['Muppet Treasure Island (1996)',
 'Headless Body in Topless Bar (1995)',
 'In the Bleak Midwinter (1995)',
 'Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)',
 'Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)']

In [164]:
movie2[:5]

['Headless Body in Topless Bar (1995)',
 'Muppet Treasure Island (1996)',
 'Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)',
 'In the Bleak Midwinter (1995)',
 'Shadows (Cienie) (1988)']

In [167]:
cor = target.loc[target != 1].values
cor

array([ 0.99717646,  0.99717646,  0.9859006 , ..., -1.        ,
       -1.        , -1.        ])

In [179]:
dic = {
    'movie1' : movie1,
    'movie2' : movie2,
    'correlation' : cor}
result = pd.DataFrame(dic)

In [181]:
result.head(10)

,movie1,movie2,correlation
0,Muppet Treasure Island (1996),Headless Body in Topless Bar (1995),0.997176
1,Headless Body in Topless Bar (1995),Muppet Treasure Island (1996),0.997176
2,In the Bleak Midwinter (1995),Happiness Is in the Field (Bonheur est dans le...,0.985901
3,Happiness Is in the Field (Bonheur est dans le...,In the Bleak Midwinter (1995),0.985901
4,Happiness Is in the Field (Bonheur est dans le...,Shadows (Cienie) (1988),0.984111
5,Shadows (Cienie) (1988),Happiness Is in the Field (Bonheur est dans le...,0.984111
6,Dead Presidents (1995),Gospa (1995),0.984063
7,Gospa (1995),Dead Presidents (1995),0.984063
8,Happiness Is in the Field (Bonheur est dans le...,Now and Then (1995),0.981981
9,Now and Then (1995),Happiness Is in the Field (Bonheur est dans le...,0.981981